header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--site-color);
}

nav {
    margin: 0 2%;
}

a {
    text-decoration: none;
    color: unset;
}

.new-meeting-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}

.new-meeting-btn .fa-plus {
    margin-right: 6px;
}